<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title> SermonBuddy - Sermon Notes Application </title>

		<!-- Bootstrap -->
    	<link href="/static/bootstrap-3.2.0/css/bootstrap.min.css" rel="stylesheet">

	</head>
    <body>
    <div class="container">

    	<div class="row">
	        <div class="col-md-6 col-md-offset-3">
		    	<div class="text-center">
		    		<div class="page-header">
			        	<h1>{% block header_text %}{% endblock %}</h1>
			        </div>
			        {% block content %} {% endblock %}
			    </div>
		    </div>
		</div>

		<div class="row">
	        <div class="col-md-6 col-md-offset-3">
	            {% block table %}
	            {% endblock %}
	        </div>
		</div>
	

	</div>
    </body>
</html>
