{% extends 'notes/base.html' %}

{% block header_text %} Add a New Sermon {% endblock %}

{% block content %} 

<form action="{% block form_action %}{% endblock %}" method="post" role="form">
  <div class="form-group">
  	<label for="id_sermon_title"> Sermon Title </label>
	<input type="text" name="title" id="id_sermon_title" placeholder="Enter a Sermon Title" />
  </div>

  {% if error %}
    <div class="form-group has-error">
    <span class="help-block">{{ error }}</span>
  </div>
  {% endif %}
  <div class="form-group">
    <label for="id_sermon_speaker"> Sermon Speaker </label>
	<input type="text" name= "speaker" id="id_sermon_speaker" placeholder="The Speaker" /> 
  </div>
  <div class="form-group">
  	<label for="id_sermon_speaker"> Sermon Notes </label>
  	<div class="row">
  	<div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
	<textarea rows="3" class="form-control" name="notes" 
            placeholder="Write your Notes Here" id="id_sermon_notes"> 
	</textarea>
	</div>
	</div>
  </div>
	<button type="submit" class="btn btn-default" id="id_sermon_submit">Save</button>
	{% csrf_token %}
</form>

{% endblock %}
