{% extends 'notes/base.html' %}

{% block header_text %}Sermon Buddy <small>Sermon Notes Application</small> {% endblock %}
{% block content %}
<div class="jumbotron">
<p class="lead">
Sermon Buddy is the only online platform for saving your sermon notes.<br/>
Keep track of all your sermon notes on one convenient platform. Get started now.
</p>
    <p>
       <a class="btn btn-lg btn-info" role="button" href={% url 'new_sermon' %} id="new_sermon"> Add a New Sermon</a>
    </p>
</div>
{% endblock %}