{% extends 'notes/base.html' %}

{% block header_text %} Your Sermon Notes {% endblock %}

{% block table %}
    <table id="id_list_table" class="table table-hover">
        {% for item in series.sermon_set.all %}
            <tr><td>Date Added: {{ item.date}} </td></tr>
            <tr><td>{{ item.title }}</td></tr>
             <tr><td>{{ item.speaker }}</td></tr>
             <tr><td>{{ item.text }}</td></tr>
             <tr><td> <br/> </td></tr>
            {% endfor %}
    </table>
{% endblock %}

{% block content %}
        <p>
         <a class="btn btn-lg btn-info" role="button" href={% url 'add_sermon' series.id %} id="add_sermon">
         <span class="glyphicon glyphicon-plus"></span>
            Add a New Sermon to this Series </a>
        </p>
{% endblock %}
